{{/* vim: set filetype=gohtmltmpl: */}}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ $image := resources.GetRemote "https://mdl.artvee.com/sftb/935615il.jpg" }}
{{ with $image }}
<figure>
  <img
    src="{{ .RelPermalink }}"
    alt="Ipswich Town, or Harbor Scene by Arthur Wesley Dow"
  />
  <figcaption>
    <a href="https://artvee.com/dl/ipswich-town-or-harbor-scene">
      Ipswich Town, or Harbor Scene by Arthur Wesley Dow
    </a>
  </figcaption>
</figure>
{{ end }}

{{ end }}
