{{/* vim: set filetype=gohtmltmpl: */}}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ $image := resources.GetRemote "https://mdl.artvee.com/sdl/935615ilsdl.jpg" }}
{{ $image := $image.Resize "400x" }}
{{ with $image }}
<figure>
  <img
    src="{{ .RelPermalink }}"
    width="{{ .Width }}"
    height="{{ .Height }}"
    alt="Ipswich Town, or Harbor Scene by Arthur Wesley Dow"
  />
  <figcaption>
    <a href="https://artvee.com/dl/ipswich-town-or-harbor-scene">
      Ipswich Town, or Harbor Scene by Arthur Wesley Dow
    </a>
  </figcaption>
</figure>
{{ end }}

{{ end }}
