[submodule "themes/hemingway2"]
	path = themes/hemingway2
	url = https://gitlab.com/beli3ver/hemingway2.git
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "themes/hugo-theme-basic"]
	path = themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
