<link
  rel="stylesheet"
  href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css"
/>

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Mono:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/light.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/dark.css" media="(prefers-color-scheme: dark)">

<script type="module" src="https://cdn.pika.dev/dark-mode-toggle"></script>
