:root {
  color-scheme: light dark;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

article {
  font-family: 'IBM Plex Sans', system-ui;
}

code {
  padding: 2px 4px;
  font-size: 80%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow-x: auto;
  border: 1px solid var(--background-color);
}

pre,
code {
  font-family: 'IBM Plex Mono', monocode, monospace;
}

/* https://frankchimero.com/blog/2020/redesign-this-design/ */
p {
  max-width: 33em;
}
