{{ define "header_extra" }}
  {{ if .Date }}
  <meta property="article:published_time" content="{{ .Date }} "/>
  {{ end }}
{{ end }}

{{ define "main" }}
<article>
  <a href="/blog" class="back-link">⇠ back to posts</a>

  {{ if .Date }}
  <time
    class="text-sm text-grey"
    datetime={{ .Date.Format "2006-01-02" }}
  >{{ .Date.Format "January 2, 2006" }}</time>
  {{ end }}

  <h1>{{ .Title }}</h1>

  {{ .Content }}
</article>

<div class="email-reply">
  <hr>
  <a
    href="mailto:stefan@vanburen.xyz?subject={{ .Title }}"
  >Reply via email</a>
</div>
{{ end }}
