<!DOCTYPE html>
<html lang="en">
  <head>
    {{ block "header" . }}{{ end }}
    {{ block "header_extra" . }}{{ end }}
  </head>
  <body class="sans-serif w-90 w-30-ns center mt3 mt5-ns">
    <header>
      <nav>
        <a href="/" class="b">{{ .Site.Title }}</a>
        <ul class="list flex flex-column ph0 mb0">
          <li><a href="/blog">blog</a></li>
          <li><a href="/colophon">colophon</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
