:root {
  color-scheme: light dark;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* Adds a transition, which is a bit jarring when the OS is set to light mode but the site remembers dark mode, and vice versa */
  /* --duration: 0.5s; */
  /* --timing: ease; */

  /* transition: */
  /*   color var(--duration) var(--timing), */
  /*   background-color var(--duration) var(--timing); */
}

article, h1 {
  font-family: 'IBM Plex Sans', system-ui;
}

code {
  padding: 2px 4px;
  font-size: 80%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow-x: auto;
  border: 1px solid var(--background-color);
}

pre,
code {
  font-family: 'IBM Plex Mono', monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
