:root {
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
}

/*
 * These should effectively override every instance of 'color' or 'background' from ./style.css
 * to be var(--white) or var(--black), respectively.
 */

h1 {
  color: var(--black);
}

a {
  color: var(--black);
}

hr {
  &::before {
    color: var(--black);
  }
}

anchor {
  color: var(--black);
}

.text-grey {
  color: var(--black);
}

/* Don't show the footer links on the printed page. */
footer {
  display: none;
}
