@import "node_modules/tachyons/css/tachyons.css";

/* purgecss start ignore */

html {
  /* Light theme colors */
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --inline-code-background-color: #EEEEEE;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(17, 17, 17);
    --text-color: rgb(240, 240, 240);
    --inline-code-background-color: #555;
  }
}

pre {
  padding: 9.5px;
  line-height: 1.2;
  overflow-x: auto;
  border: 1px dotted;

  /* Override the background set by the code formatter */
  background-color: var(--background-color) !important;
}

h2 {
  /* Because we're using Tachyons, and we're setting our `<h1>`s to be `f3`, we
   * set our `<h2>`s to be the equivalent of `f4`. */
  font-size: 1.25rem;
}

 /* <code> directly within paragraphs */
 p > code {
  background-color: var(--inline-code-background-color);
  /* ensure the entire <code></code> is on the same line */
  white-space: nowrap;
}

a {
  color: var(--text-color);
  text-decoration-style: solid;
}

a:hover {
  color: var(--background-color);
  background: var(--text-color);
  text-decoration-style: dotted;
}

a[href^="http"]::after {
  content: "↗";
}

::selection {
  background: var(--text-color);
  color: var(--background-color);
}

/* purgecss end ignore */
