:root {
  color-scheme: light dark;
  --grey:         oklch(57% 0 0);
  --accent-color: oklch(64% 0.2 27.5);

  /* sizes, with a few unused removed,
   * via https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website/#heading-base-css */
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
}

html {
  /* Sticky footer. */
  height: 100%;
}

body {
  /* https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website#heading-the-post-block */
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);

  /* consistent margins on left and right */
  margin-left: auto;
  margin-right: auto;

  /* https://practicaltypography.com/line-spacing.html */
  line-height: 1.35;

  /* via https://blog.jim-nielsen.com/2020/system-fonts-on-the-web/
     Not including `system-ui`, because of https://infinnie.github.io/blog/2017/systemui.html,
     and because it's really only supported on Apple systems: https://caniuse.com/extended-system-fonts */
  font-family:
    /* use the sans-serif font that the operating system
       classifies as a sans-serif font for native apps */
    ui-sans-serif,
    /* use a sans-serif family as determined by the browser
       which may or may not be a configurable option for
       the user to override */
    sans-serif;

  /* Sticky footer. */
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  /* Add some vertical padding to the footer in both directions. */
  padding: 2em 0;

  /* Flex the links, so they are evenly spaced */
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

pre {
  padding: 0.5rem;
  line-height: 1.25;
  overflow-x: auto;
  border: 1px dotted;

  /* cap the width at 90% of the viewport
   * this is important for mobile so that we can scroll within <pre> */
  max-width: 90vw;
}

pre,
code,
samp,
kbd {
  font-family: ui-monospace, monospace;
}

/* <code> directly within paragraphs */
p > code {
  border: 1px dotted;

  /* ensure the entire <code></code> is on the same line */
  white-space: nowrap;
}

li > code {
  border: 1px dotted;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-500);
}

a {
  color: CanvasText;
}

a:hover {
  color: var(--accent-color);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

li > a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-link {
  display: block;
  margin-bottom: 1rem;
}

hr {
  border: none;
  text-align: center;
}

hr::before {
  color: var(--accent-color);
  content: "⁂";
}

.nums {
  font-variant-numeric: tabular-nums;
}

/* for anchor links, don't underline regularly and hide by default. */
.anchor {
  color: var(--grey);
  text-decoration: none;
}

/* on hover of an anchor, underline but use the same colors */
.anchor:hover {
  text-decoration-line: underline;
}

blockquote {
  border-left: medium solid #ccc;
  padding-left: 1em;
  margin: 0;
}

.text-sm {
  font-size: var(--size-300);
}

.text-grey {
  color: var(--grey);
}

.mr-1 {
  margin-right: 0.5em;
}

/* adjustments for larger screens */
@media (min-width: 45em) {
  article, p {
    font-size: var(--size-500);

    /* tachyons' measure-wide
       http://tachyons.io/docs/typography/measure/
       This is needed on larger screens to constrain the width. */
    max-width: 34em;
  }

  pre {
    font-size: var(--size-400);
  }

  ol,
  ul {
    font-size: var(--size-500);
  }

  blockquote p {
    font-size: var(--size-500);
  }

  footer {
    font-size: var(--size-500);

    /* for larger screens, display block so that links appear over to the left */
    display: block;
  }

  /* Space out the footer links a bit. */
  footer > a {
    margin-right: 0.5em;
  }

  .text-sm {
    font-size: var(--size-400);
  }
}
