{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<figure>
  <img
    src="https://ids.lib.harvard.edu/ids/view/17386628"
    alt="Homosassa Jungle by Winslow Homer"
  />
  <figcaption>
    <a href="/blog/fog-of-war">From /blog/fog-of-war</a>
    (<a href="https://harvardartmuseums.org/collections/object/306835">Permalink</a>)
  </figcaption>
</figure>

<hr>

<figure>
  <img
    src="https://iiif.micr.io/uIpfV/full/%5E830,/0/default.webp"
    alt="Tokubei running through a street by Kunimori"
  />
  <figcaption>
    <a href="/blog/fog-of-war">From /blog/fog-of-war</a>
    (<a href="https://www.rijksmuseum.nl/en/collection/object/Tokubei-running-through-a-street--7e5f432ba724707931197c90284c5867?tab=data">Permalink</a>)
  </figcaption>
</figure>

<hr>

<figure>
  <img
    src="https://ids.lib.harvard.edu/ids/view/20410755"
    alt="Marsh Creek by Arthur Wesley Dow"
  />
  <figcaption>
    <a href="/now">From /now</a>
    (<a href="https://harvardartmuseums.org/collections/object/256726">Permalink</a>)
  </figcaption>
</figure>

<hr>

<figure>
  <img
    src="https://mdl.artvee.com/sftb/935615il.jpg"
    alt="Ipswich Town, or Harbor Scene by Arthur Wesley Dow"
  />
  <figcaption>
    <a href="/now">Previously on /now</a>
    (<a href="https://artvee.com/dl/ipswich-town-or-harbor-scene">Permalink</a>)
  </figcaption>
</figure>

{{ end }}
