{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{/* A poor man's JSON */}}
{{ $images := slice
  (dict
    "imageURL" "https://img.artsmia.org/web_objects_cache/125000/300/80/125388/mia_8004717_800.jpg"
    "detailsURL" "https://collections.artsmia.org/art/125388/brook-in-winter-e-ambrose-webster"
    "caption" "Brook in Winter by E. Ambrose Webster"
    "siteLocation" "/now"
    "siteInfo" "(From /now)"
  )
  (dict
    "imageURL" "https://ids.lib.harvard.edu/ids/view/17386628"
    "detailsURL" "https://harvardartmuseums.org/collections/object/306835"
    "caption" "Homosassa Jungle by Winslow Homer"
    "siteLocation" "/blog/fog-of-war"
    "siteInfo" "(From /blog/fog-of-war)"
  )
  (dict
    "imageURL" "https://iiif.micr.io/uIpfV/full/%5E830,/0/default.webp"
    "detailsURL" "https://www.rijksmuseum.nl/en/collection/object/Tokubei-running-through-a-street--7e5f432ba724707931197c90284c5867"
    "caption" "Tokubei running through a street by Kunimori"
    "siteLocation" "/blog/fog-of-war"
    "siteInfo" "(From /blog/fog-of-war)"
  )
  (dict
    "imageURL" "https://ids.lib.harvard.edu/ids/view/20410755"
    "detailsURL" "https://harvardartmuseums.org/collections/object/256726"
    "caption" "Marsh Creek by Arthur Wesley Dow"
    "siteLocation" "/now"
    "siteInfo" "(Previously on /now)"
  )
  (dict
    "imageURL" "https://mdl.artvee.com/sftb/935615il.jpg"
    "detailsURL" "https://artvee.com/dl/ipswich-town-or-harbor-scene"
    "caption" "Ipswich Town, or Harbor Scene by Arthur Wesley Dow"
    "siteLocation" "/now"
    "siteInfo" "(Previously on /now)"
  )
}}

{{ range $images }}
  {{ $image := resources.GetRemote .imageURL }}
  <figure>
    <img src="{{ $image.RelPermalink }}" alt="{{ .caption }}" />
    <figcaption>
      <a href="{{ .detailsURL }}">{{ .caption }}</a>
      <a href="{{ .siteLocation }}">{{ .siteInfo }}</a>
    </figcaption>
  </figure>
  {{ end }}
{{ end }}
