<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ block "head_extra" . }}{{ end }}
  </head>
  <body>
    {{ $faviconTemplate := resources.Get "favicon-template.svg" -}}
    {{ $favicon := $faviconTemplate | resources.Minify | resources.ExecuteAsTemplate "favicon.svg" . -}}
    <header>
      <a href="/" aria-label="Home"><img src="{{ $favicon.Permalink }}" width="32" height="32" alt=""></a>
      <nav>
        <a href="/blog">blog</a>
        <a href="/til">TIL</a>
        <a href="/colophon">colophon</a>
        <a href="/now">now</a>
        <a href="/uses">uses</a>
      </nav>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
