{{/* vim: set filetype=gohtmltmpl: */}}

{{ define "main" }}
<h1>Stefan VanBuren</h1>
{{ .Content }}

{{ with $month := now.Format "01" }}

{{ if eq $month "01" }}
🥶
{{ else if eq $month "02" }}
☃️
{{ else if eq $month "03" }}
🎂
{{ else if eq $month "04" }}
🌧️
{{ else if eq $month "05" }}
🌺
{{ else if eq $month "06" }}
🏖️
{{ else if eq $month "07" }}
🌞
{{ else if eq $month "08" }}
🐕
{{ else if eq $month "09" }}
🍂
{{ else if eq $month "10" }}
🎃
{{ else if eq $month "11" }}
🦃
{{ else if eq $month "12" }}
🎄
{{ else }}
👹
{{ end }}

{{ end }}

{{ end }}
