{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ with .GitInfo }}
<p>
  <small>
    Last updated:
    <time datetime="{{ .CommitDate.Format "2006-01-02" }}">
      {{ .CommitDate.Format "January _2, 2006" }}
    </time>
  </small>
</p>
{{ end }}

<p>
  <small class="text-sm text-grey">
    Based on <a href="https://nownownow.com/">nownownow.com</a>.
  </small>
</p>

{{ $imageURL := "https://img.artsmia.org/web_objects_cache/062000/400/40/62446/mia_44906a_800.jpg" }}
{{ $detailsURL := "https://collections.artsmia.org/art/62446/spring-dusk-at-the-tosh-shrine-in-ueno-kawase-hasui" }}
{{ $caption := "Spring Dusk at the Tōshō Shrine in Ueno by Kawase Hasui" }}
{{ $width := 543 }}
{{ $height := 800 }}

<figure>
  <img
    src="{{ $imageURL }}"
    alt="{{ $caption }}"
    width="{{ $width }}"
    height="{{ $height }}"
    loading=lazy
  />
  <figcaption>
    <a href="{{ $detailsURL }}">{{ $caption }}</a>
  </figcaption>
</figure>

{{ end }}
