{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ with .GitInfo }}
<p>
  <small>
    Last updated:
    <time datetime="{{ .CommitDate.Format "2006-01-02" }}">
      {{ .CommitDate.Format "January _2, 2006" }}
    </time>
  </small>
</p>
{{ end }}

<p>
  <small class="text-sm text-grey">
    Based on <a href="https://nownownow.com/">nownownow.com</a>.
  </small>
</p>

{{ $imageURL := "https://www.artic.edu/iiif/2/d1cda60c-c21d-9fbc-8195-4e7c3d6e9650/full/1686,/0/default.jpg" }}
{{ $detailsURL := "https://www.artic.edu/artworks/64476/the-winter-sun" }}
{{ $caption := "The Winter Sun by George Gardner Symons" }}

<figure>
  <img src="{{ $imageURL }}" alt="{{ $caption }}" />
  <figcaption>
    <a href="{{ $detailsURL }}">{{ $caption }}</a>
  </figcaption>
</figure>

{{ end }}
